@model ppr_web.Models.CombinedSearch

@{
    ViewBag.Title = "Combined";
}

<div class="text-center">
    <h2>Run a Combined Search on the Property Price Register Database</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-info col-xs-12 col-md-12">
        <div class="panel-heading">Instructions</div>
        <div class="panel-body">
            <p><strong>STEP 1</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In search lines pick the details of the line from the drop down boxes</p>
            <p><strong>STEP 2</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you need more than 1 search line click the add button</p>
            <p><strong>STEP 3</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When finished click the send button to get the search results</p>
            <p class="padding-top-25">*  Maximum of 4 lines allowed.</p>
        </div>
    </div>

    <div class="panel-info col-xs-12 col-md-12">
        <div class="panel-heading">Search Lines</div>
        <div class="panel-body">
            <div class="row">
                <div class="editorRows">
                    @foreach (var item in Model.lineList)
                    {
                        @Html.Partial("~/Views/Shared/EditorTemplates/LineEditor.cshtml", item)
                    }
                </div>
                <div class="padding-top-25">
                    @Html.ActionLink(" Add", "BlankEditorRow", null, new { id = "addItem", @class = "btn btn-xs btn-success glyphicon glyphicon-plus-sign" });
                </div>
                <div class="padding-top-25">
                    @Html.EditorFor(m => m.takeOutNoMarket)
                    @Html.LabelFor(m => m.takeOutNoMarket)
                    <p class="red-text">* A property not selling for market price means it was sold at discount or exchanged for land or another property</p>
                </div>
                <div class="padding-top-25">
                    <input type="submit" value="Search" class="btn btn-default" id="submit-button"/>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="panel-info col-xs-12 col-md-12">
        <div class="panel-heading">Search Results</div>
        <div class="panel-body">
            <div id="container" style="width:100%; height:100%;">
                <div class="row">
                    @if (IsPost)
                    {    
                            foreach(DotNet.Highcharts.Highcharts chart in @Model.createChartAll)
                            {
                                <div>@chart</div>
                            }
                    }
                        </div>
                </div>
            
        </div>
    </div>
}

<div class="padding-top-25">
    @Html.ActionLink("Back to Home Page", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
                // dynamically add postcode to dublin if chosen
                $(document).ready(function () {
                    $(".editorRows").on("change", "#counties-dropdown", function () {
                        $(".editorRows").children(".editorRow").each(function () {
                            var $val = $("#counties-dropdown option:selected", this).text();
                            if ($val == "Dublin") {
                                $("#toggle-postcode-dropdown", this).show();
                            }
                            else {
                                $("#toggle-postcode-dropdown", this).hide();
                            }
                        });
                    });
                });

                $('#submit-button').click(function () {
                    $('#submit-button').val('running search...');
                    $('#submit-button').css("background", "green");
                });
    </script>

    <script type="text/javascript">
                // dynamically add lines for search
                $(function () {
                    $("#addItem").click(function () {
                        $.ajax({
                            url: this.href,
                            cache: false,
                            success: function (html) { $(".editorRows").append(html); }
                        });
                        return false;
                    });
                });
    </script>
}

