@model ppr_web.Models.SearchDB

@{
    ViewBag.Title = "Search";
}

<div class="text-center">
    <h2>Search the Property Price Register Database</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">

            <div class="panel-info col-xs-12 col-md-6">
                <div class="panel-heading">Instructions</div>
                <div class="panel-body">
                    <p><strong>STEP 1</strong> Choose a County. If the County is Dublin also choose a PostCode</p>
                    <p><strong>STEP 2</strong> Choose a Year</p>
                    <p><strong>STEP 3</strong> Refine the search if needed for a more exact set of results</p>
                    <p><strong>STEP 4</strong> Run the search by clicking the search button</p>
                    <p class="padding-top-25">*  Dwelling type is considered new if it was built within 5 years of the purchase date.</p>
                </div>
            </div>

            <div class="panel-info col-xs-12 col-md-6">
                <div class="panel-heading">Options</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.County)
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.DropDownListFor(model => model.County, new SelectList(ppr_web.Models.SearchDB.Counties), new { @id = "counties-dropdown", @onchange = "showDublinDropdown()", @Title = "list of counties", @class = "col-md-7 col-xs-12" })
                                @Html.DropDownListFor(model => model.PostCode, new SelectList(ppr_web.Models.SearchDB.PostalCodes), new { @id = "toggle-postcode-dropdown", @Title = "list of post codes", @class = "col-md-5 col-xs-12" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.Year)
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.DropDownListFor(model => model.Year, new SelectList(ppr_web.Models.SearchDB.Years), new { @id = "year-dropdown", @onchange= "showDublinDropdown()", @Title = "list of years", @class = "col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.Dates)
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.DropDownListFor(model => model.Dates, new SelectList(ppr_web.Models.SearchDB.DatesBetween), new { id = "dates-dropdown1", @Title = "choose a date range", @class = "col-md-7 col-xs-12" })
                                @Html.DropDownListFor(model => model.Dates, new SelectList(ppr_web.Models.SearchDB.DatesBetweenCurrent), new { id = "current-dates-dropdown1", @Title = "choose a date range", @class = "col-md-7 col-xs-12" })
                                @Html.DropDownListFor(model => model.Dates, new SelectList(ppr_web.Models.SearchDB.DatesBetweenDublin), new { id = "dates-dropdown2", @Title = "choose a date range", @class = "col-md-7 col-xs-12" })
                                @Html.DropDownListFor(model => model.Dates, new SelectList(ppr_web.Models.SearchDB.DatesBetweenDublinCurrent), new { id = "current-dates-dropdown2", @Title = "choose a date range", @class = "col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.MarketPrice)
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.DropDownListFor(model => model.MarketPrice, new SelectList(ppr_web.Models.SearchDB.MarketPriceDecision), new { @Title = "choose did the property sell for market price or not", @class = "col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.Dwelling)
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.DropDownListFor(model => model.Dwelling, new SelectList(ppr_web.Models.SearchDB.DwellingTypes), new { @Title = "choose the type of property dwelling", @class = "col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.PriceValue)
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                @Html.EditorFor(model => model.PriceValue, new { htmlAttributes = new { @Title = "choose the maximum value a property can be", @class = "col-md-7 col-xs-12" } })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            @Html.ValidationMessageFor(model => model.PriceValue, "", new { @class = "text-danger col-xs-12 col-md-10 text-center" })
                        </div>
                        <div class="col-xs-4 col-xs-offset-4 padding-top-25">
                            <input type="submit" value="Search" class="btn btn-default" id="submit-button" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-info col-xs-12 col-md-12">
                <div class="panel-heading">Search Results</div>
                <div class="panel-body table-panel">
                    <div class="table-responsive">
                        <table id="results-table" class="display table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Address</th>
                                    <th>Sold On</th>
                                    <th>Dwelling Type</th>
                                    <th>Market Price Met</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    if (IsPost)
                                    {
                                        foreach (var r in Model.FetchResults)
                                        {
                                            <tr>
                                                <td>@r.Price</td>
                                                <td>@r.Address</td>
                                                <td>@r.SoldOn</td>
                                                <td>@r.Description</td>
                                                <td>@r.NotFullMP</td>
                                            </tr>
                                        }
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
                                    }

<div>
    @Html.ActionLink("Back to Home Page", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
                        $(document).ready(function(){
                            $('#results-table').dataTable();
                        });
                        $(window).load(function () {
                            searchButtonOnDublinClick();
                        });
                        $('#submit-button').click(function () {
                            $('#submit-button').val('running search...');
                            $('#submit-button').css("background", "green");
                        });
    </script>
}

